.confirm-delete-model {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-left: 28px;
  padding-right: 28px;

  &__title {
    font-size: 18px;
    letter-spacing: -0.13px;
    width: 500px;
    margin: 2.3rem auto 0 auto;
    text-align: center;

    &--delete {
      color: #e74032;
    }
  }
}
.confirm-delete-model__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 3.2rem;
  &--btn {
    border: none;
    padding: 10px 2.8rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    max-height: 43px;
  }
  &--save {
    background: #0b78c2;
    width: 142px;
    color: #fff;

    border-radius: 6px !important;
    border: 1px solid #0b78c2;
    cursor: pointer;

    &:hover {
      background: #0b78c2;
    }

    img{
      position: relative;
      bottom: 9px !important;
    }
  }
  &--cancel {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    width: 142px;
  }
}

